<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chhtf.cmp.mapper.FollowRecordMapper" >
  <resultMap id="BaseResultMap" type="com.chhtf.cmp.pojo.FollowRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trainee_id" property="traineeId" jdbcType="INTEGER" />
    <result column="agency_id" property="agencyId" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="follow_time" property="followTime" jdbcType="VARCHAR" />
    <result column="record_content" property="recordContent" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="string_field" property="stringField" jdbcType="VARCHAR" />
    <result column="int_field" property="intField" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trainee_id, agency_id, employee_id, follow_time, record_content, comment, string_field, 
    int_field, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chhtf.cmp.pojo.FollowRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from follow_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from follow_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from follow_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chhtf.cmp.pojo.FollowRecordExample" >
    delete from follow_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chhtf.cmp.pojo.FollowRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into follow_record (trainee_id, agency_id, employee_id, 
      follow_time, record_content, comment, 
      string_field, int_field, create_time, 
      update_time)
    values (#{traineeId,jdbcType=INTEGER}, #{agencyId,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, 
      #{followTime,jdbcType=VARCHAR}, #{recordContent,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{stringField,jdbcType=VARCHAR}, #{intField,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chhtf.cmp.pojo.FollowRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into follow_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="traineeId != null" >
        trainee_id,
      </if>
      <if test="agencyId != null" >
        agency_id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="followTime != null" >
        follow_time,
      </if>
      <if test="recordContent != null" >
        record_content,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="stringField != null" >
        string_field,
      </if>
      <if test="intField != null" >
        int_field,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="traineeId != null" >
        #{traineeId,jdbcType=INTEGER},
      </if>
      <if test="agencyId != null" >
        #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="followTime != null" >
        #{followTime,jdbcType=VARCHAR},
      </if>
      <if test="recordContent != null" >
        #{recordContent,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="stringField != null" >
        #{stringField,jdbcType=VARCHAR},
      </if>
      <if test="intField != null" >
        #{intField,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chhtf.cmp.pojo.FollowRecordExample" resultType="java.lang.Integer" >
    select count(*) from follow_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update follow_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.traineeId != null" >
        trainee_id = #{record.traineeId,jdbcType=INTEGER},
      </if>
      <if test="record.agencyId != null" >
        agency_id = #{record.agencyId,jdbcType=INTEGER},
      </if>
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=INTEGER},
      </if>
      <if test="record.followTime != null" >
        follow_time = #{record.followTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordContent != null" >
        record_content = #{record.recordContent,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.stringField != null" >
        string_field = #{record.stringField,jdbcType=VARCHAR},
      </if>
      <if test="record.intField != null" >
        int_field = #{record.intField,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update follow_record
    set id = #{record.id,jdbcType=INTEGER},
      trainee_id = #{record.traineeId,jdbcType=INTEGER},
      agency_id = #{record.agencyId,jdbcType=INTEGER},
      employee_id = #{record.employeeId,jdbcType=INTEGER},
      follow_time = #{record.followTime,jdbcType=VARCHAR},
      record_content = #{record.recordContent,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      string_field = #{record.stringField,jdbcType=VARCHAR},
      int_field = #{record.intField,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chhtf.cmp.pojo.FollowRecord" >
    update follow_record
    <set >
      <if test="traineeId != null" >
        trainee_id = #{traineeId,jdbcType=INTEGER},
      </if>
      <if test="agencyId != null" >
        agency_id = #{agencyId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="followTime != null" >
        follow_time = #{followTime,jdbcType=VARCHAR},
      </if>
      <if test="recordContent != null" >
        record_content = #{recordContent,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="stringField != null" >
        string_field = #{stringField,jdbcType=VARCHAR},
      </if>
      <if test="intField != null" >
        int_field = #{intField,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chhtf.cmp.pojo.FollowRecord" >
    update follow_record
    set trainee_id = #{traineeId,jdbcType=INTEGER},
      agency_id = #{agencyId,jdbcType=INTEGER},
      employee_id = #{employeeId,jdbcType=INTEGER},
      follow_time = #{followTime,jdbcType=VARCHAR},
      record_content = #{recordContent,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      string_field = #{stringField,jdbcType=VARCHAR},
      int_field = #{intField,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>